GRUB_DISTRIBUTOR="Arch"

GRUB_DEFAULT=0
GRUB_TIMEOUT=5
GRUB_TIMEOUT_STYLE=menu

GRUB_PRELOAD_MODULES=""
GRUB_CMDLINE_LINUX_DEFAULT="{{kernel_parameters}}"
GRUB_CMDLINE_LINUX=""
GRUB_DISABLE_OS_PROBER=false

GRUB_TERMINAL_INPUT=console
